# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

mysql_stdin_parser_example
set_mysql_example
mysql_example
pgsql_example
libpgsqlparser.a
src/*_parser/*_parser.tab.c
src/*_parser/*_parser.tab.h
src/*_parser/*_lexer.yy.c
src/*_parser/*_parser.output
src/*_parser/*_parser.report

