# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


pgsql_example
libpgsqlparser.a
src/pgsql_parser/pgsql_parser.tab.c
src/pgsql_parser/pgsql_parser.tab.h
src/pgsql_parser/pgsql_lexer.yy.c
src/pgsql_parser/pgsql_parser.output
src/pgsql_parser/pgsql_parser.report
